.todo_input{
    width: 75%;
    padding:10px;
    border: 2px solid aqua;
    height: 10px;
}
.todo_form{
    border: 1px solid aqua;
    width: 50%;
    background-color: bisque;
    border-radius: 4px;
    margin: 30px auto;
}
.add_btn{
    height: 25px;
    padding: 5px 25px;
    background: bisque;
    border:2px solid aqua;
}
 .todo_form p{
    color: red;
	margin: 0px;
 }